/* ---------- HOME PAGE STYLING ---------- */

.header h1 {
   text-align: center;
   font-family: 'Amaranth', sans-serif;
   color: #2C43C7;
   font-size: 125px;
   line-height: 200px;
   margin-bottom: -20px;
}


.form input {
   font-family: 'Muli', sans-serif;
   font-size: 50px;
   width: 100%;
   text-align: center;
   border: none;
   margin-top: -10px;
}

.form .button {
   font-family: 'Muli', sans-serif;
   font-size: 14px;
   text-align: center;
   background: white;
   color: #2C43C7;
   border: none;
   width: 25%;
   margin: 0 auto;
   display: block;
   text-shadow: none;
   transition-property: background, color;
   transition-duration: 100ms;
   transition-timing-function: linear;
}

.form .button:hover {
  background: #2C43C7;
  color: white;
  font-size: 14px;
}

form.new_user input[type="submit"] {
   background: white;
   font-size: 14px;
   color: #2C43C7;
   border: none;
   width: 25%;
   margin: 0 auto;
   display: block;
   text-shadow: none;
   transition-property: background, color;
   transition-duration: 100ms;
   transition-timing-function: linear;
}  

form.new_user input[type="submit"]:hover {
   background: #2C43C7;
   color: white;
}

/* ---------- END OF HOME PAGE STYLING ---------- */


h2 {
   font-family: 'Amaranth', sans-serif;
   color: #2C43C7;
}

h3 {
   font-size: 22px;
   font-family: 'Amaranth', sans-serif;
   color: #2C43C7;
}

h4 {
   font-family: 'Muli', sans-serif;
   color: #2C43C7;
   font-size: 18px;
   font-style: bold;
}

h5 {
   font-family: 'Muli', sans-serif;
   color: #2C43C7;
   font-size: 14px;
}

li {
   font-family: 'Muli', sans-serif;
   color: #2C43C7;
   font-size: 14px;
}

form {
   font-family: 'Muli', sans-serif;
   color: #2C43C7;

}

input[type='submit'] {
   font-family: 'Muli', sans-serif;
   background: white;
   color: #2C43C7;
   border: none;
   display: block;
   text-shadow: none;
   transition-property: background, color;
   transition-duration: 100ms;
   transition-timing-function: linear;
   font-size: 11px;
}

input[type='submit']:hover {
   background: #2C43C7;
   color: white;
   border: none;
   font-size: 11px;
}

.button {
   font-family: 'Muli', sans-serif;
   background: white;
   color: #2C43C7 !important;
   border: none;
   text-shadow: none;
   transition-property: background, color;
   transition-duration: 100ms;
   transition-timing-function: linear;
   font-size: 11px;
}

.button:hover {
   background: #2C43C7;
   color: white !important;
   border: none;
   font-size: 11px;
}

img {
   float: right;
   margin: 0 auto;
}








