/*.white_block {
   height: 100px;
   background-color: rgba(255, 255, 255, 1);
   margin: 65% 0 0 0;
}

.welcome {
   background-color: rgba(255, 255, 255, 0.5);
   height: 100px;
   margin: 65% 0 0 0;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}*/